---
layout: default
---

<div class="home">

  <h1 class="page-heading">Overview</h1>
  <p>
    The overview goes here
  </p>
  
  <h1 class="page-heading">Contributing</h1>
  <p>
    <a href="https://gitlab.com/vcu-ot-spre/pediatric-occupational-performance/">gitlab.com/vcu-ot-spre/pediatric-occupational-performance</a>
  </p>
  <p>
      Talk about open source textbooks.
  </p>
  
  <h1 class="page-heading">Updates</h1>
  <p>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </p>
  
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
